.panel {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 5px;
    overflow-y: auto;
    background: rgb(240, 255, 251);
}

.panel .button {
    position: fixed;
    right: 50px;
    bottom: 40px;
    padding: 12px;
    background: rgb(55, 174, 148);
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    text-decoration: none;
    animation: flotar .5s ease infinite;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    z-index: 2;
}
.panel .button .ico_panel{
    font-size: 22px;
}

@keyframes flotar {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-7px);
    }

    100% {
        transform: translateY(0px);
    }
}

.panel .button:hover {
    background: rgba(46, 209, 168, 0.869);
    color: black;
    animation-play-state: paused;
}


.panel main {
    display: flex;
    position: relative;
    height: auto;
    height: calc(100vh - 100px);
    padding: 5px;
}

/*Estylos para mensajes*/
main .mensajes {
    width: 250px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    position: relative;
    padding: 2px;
    transition: .3s ease;
    &::-webkit-scrollbar {
        width: 0px;
    }
}

main .mensajes .cabeza {
    background: rgb(234, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 6px;
    position: sticky;
    top: 0;
    z-index: 1;
}

main .mensajes .cabeza h2 {
    text-align: center;
    font-size: 18px;
    font-family: 'poppins';
    padding: 5px;
    background: rgb(55, 174, 148);
    color: white;
}

main .mensajes .buscar {
    box-shadow: 0 0 2px rgb(17, 90, 132);
    border: none;
    outline: none;
    padding: 5px;
    font-size: 17px;
    text-align: center;
    border-radius: 6px;
    margin-bottom: 10px;
}

.content::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    cursor: pointer;
}

.content::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

.content::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.panel main .mensajes .box {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.panel main .mensajes .box .mssg {
    box-shadow: 0 0 1px rgb(55, 174, 148);
    padding: 5px 10px;
    height: 65px;
    min-height: 65px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    cursor: pointer;
    transition: 0.2s ease;
    font-family: 'poppins';
}

.panel main .mensajes .box .mssg:hover {
    background: rgba(55, 174, 148, 0.103);
}

main .mensajes .box h3 {
    font-size: 14px;
    white-space: nowrap;/* Evita que el texto se envuelva */
    overflow: hidden;/* Oculta cualquier parte del texto que exceda el ancho */
    text-overflow: ellipsis;/* Muestra puntos suspensivos al final del texto visible */
}
.panel main .box p {
    font-size: 14px;
    white-space: nowrap;/* Evita que el texto se envuelva */
    overflow: hidden;/* Oculta cualquier parte del texto que exceda el ancho */
    text-overflow: ellipsis;/* Muestra puntos suspensivos al final del texto visible */
}
.panel main .box .fecha_hora{
    position: relative;
    display: flex;
    justify-content: right;
    gap: 10px;
}
.panel main .box .fecha{
    font-size: 11px;
    color: gray;
}
.panel main .box .hora{
    font-size: 11px;
    color: gray;
} 

.panel .mensajes .box span {
    text-decoration: none;
    font-size: 14px;
}

/*****************************************/
/*Stylo para punto*/
.punto {
    position: absolute;
    right: 4px;
    top: 4px;
    width: 7px;
    height: 7px;
    background-color: rgb(55, 174, 148);
    border-radius: 50%;
    animation: scalar 1s linear infinite;
}
@keyframes scalar {
    0% { transform: scale(1);}
    50% { transform: scale(1.7);}
    100% { transform: scale(1);}
}

.punto.leido {
    display: none;
}

.mssg.nuevo {
    background-color: #b77f7f;
}

/*estilos de "content" de mensajes*/
main .content {
    position: relative;
    flex: 1;
    overflow-y: auto;
    box-shadow: 0 0 1.5px green;
    background-color: rgb(237, 252, 255);
    margin: 8px;
    margin-top: 3px;
    margin-bottom: 0;
    transition: .3s ease;
}

.content .subContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px;
    padding-bottom: 30px;
    gap: 20px;
}

.subContent>h3 {
    text-align: center;
    font-family: calibri;
    font-size: 20px;
    padding: 7px;
    padding-bottom: 0;
}

.content .subContent .datostxt {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: 'poppins';
    padding-bottom: 10px;
}

span {
    font-weight: bold;
}

.content .datostxt span {
    font-size: .95rem;
}

.content .datosAdjunto {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 10px;
    padding: 5px;
}

.content .subContent img {
    max-width: 400px;
    width: 100%;
    max-height: 600px;
    padding: 10px;
    border-radius: 10px;
    background: rgba(159, 169, 159, 0.036);
    box-shadow: 0 0 2px green;
    object-fit: contain;
}

.subContent .datosAdjunto a {
    box-shadow: 0 0 3px green;
    border-radius: 10px;
    width: 180px;
    height: 45px;
    display: grid;
    place-items: center;
    text-decoration: none;
    background: rgb(17, 90, 132);
    color: white;
    font-weight: bold;
    font-family: calibri;
    transition: 0.3s ease;
    animation-play-state: running;
    animation: temblor 0.5s ease-in-out 2s infinite;
}

@keyframes temblor {
    0% {
        transform: translateX(0) rotate(0deg);
    }

    25% {
        transform: translateX(2px) rotate(2deg);
    }

    50% {
        transform: translateX(-2px) rotate(-2deg);
    }

    75% {
        transform: translateX(2px) rotate(2deg);
    }

    100% {
        transform: translateX(0) rotate(0deg);
    }
}

.subContent .datosAdjunto a:hover {
    background: rgba(17, 90, 132, 0.264);
    box-shadow: 0 0 7px green;
    color: black;
    text-decoration: underline;
    animation-play-state: paused;
}

.content .subContent .boxTxt {
    box-shadow: 0 0 2px green;
    background: rgba(0, 128, 0, 0.036);
    white-space: pre-wrap;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 10px;
    max-width: 500px;
    width: 100%;
    min-width: 400px;
    max-height: 600px;
    position: relative;
}

.subContent .boxTxt h3 {
    text-align: center;
    font-family: calibri;
    text-decoration: underline;
    padding: 10px;
    height: 43px;
}

.subContent .boxTxt>div {
    overflow-y: auto;
    max-height: 537px;
}

.subContent .boxTxt p {
    font-family: 'poppins';
    font-size: 15px;
    text-align: justify;
    background: white;
    padding: 10px;
}

/*Estylos de scroll*/
.boxTxt>div::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    cursor: pointer;
}

.boxTxt>div::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;

}

.boxTxt>div::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

@media (max-width: 1200px){
    .panel .content .datosAdjunto{
        flex-wrap: wrap;
        padding: 0;
        margin-bottom: 200px;
    }
    .panel .datosAdjunto img{
        object-fit: cover;
        max-width: 500px;
    }
}
@media (max-width: 1000px) {
    .panel .enviados{
        transition: .3s ease;
        display: none;
    }
}
@media (max-width: 750px) {
    .panel main .mensajes{
        width: 220px;
        transition: .3s ease;
    }
}